body {
  margin-top: 30px;
  background-color: rgb(39, 38, 53);
}
.navbar {
  margin-left: 5%;
  margin-right: 5%;
}
.navbar-brand img {
  height: 10vh;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  margin-right: 10px;
}
.material-icons {
  font-size: 18px;
  color: gold;
  animation: handwave 3s linear infinite;
}
@keyframes handwave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.Intro {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.IntroText {
  color: #fff;
  font-size: 32px;
  font-family: "Cinzel";
  /* align-items: center;
  display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.IntroText p {
  font-size: 20px;
  font-family: "VT323";
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.languages-container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.languages-container h3 {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "Cinzel";
  text-align: center;
  color: rgb(39, 38, 53);
  font-weight: bold;
}
.languagesicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.languages {
  width: 400px;
}
.languages-container .illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
  margin-right: 5%;
}
.languages-container .illustration img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 900) {
  .languages-container .illustration {
    width: 100%;
    height: 100%;
  }
  .languages {
    width: 100%;
  }
}
.languagesicons img {
  margin: 0% 5% 5% 0%;
}
.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.introduction .intro-para {
  width: 40%;
  color: whitesmoke;
  opacity: 0.8;
  font-family: "Roboto";
  font-size: 1.2em;
  margin: 5%;
  text-align: justify;
}
.introduction .intro-para h1 {
  margin-bottom: 5%;
  opacity: 0.9;
}
.introduction .intro-para p span {
  font-weight: bold;
  opacity: 1;
  font-style: italic;
}
.Intro .IntroPhoto {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  float: right;
}
.Intro .IntroPhoto img {
  width: 80%;
  height: 80%;
}
#Projects {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Projects h3 {
  color: white;
  width: fit-content;
  text-align: center;
  overflow: hidden;
  font-family: "Cinzel";
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project .card {
  background: #2a2b2f;
  position: relative;
  width: 400px;
  height: 490px;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  align-items: center;
  margin: 40px;
  padding: 15px;
  border: 2px solid rgb(61, 33, 66);
  transition: 0.3s;
}
@media only screen and (max-width: 900px) {
  .project .card {
    height: fit-content;
  }
  .introduction .intro-para,
  .Intro .IntroPhoto {
    width: 100%;
  }
  .Intro .IntroPhoto img {
    width: 100%;
    height: 100%;
  }
}
.project .card:hover {
  transform: translate(0, -10px);
  border: 2px solid blueviolet;
  cursor: pointer;
}
.project .card .title {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 5%;
}
.project .card .Description {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
  min-height: 100px;
  width: 80%;
  margin-bottom: 10px;
  font-size: 0.9em;
  opacity: 0.9;
}
.project .card .linksparent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.project .card .linksparent .links {
  margin: 5px;
}
.project .card .links i {
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #fff;
  margin-bottom: 15px;
}
.project .card .links a {
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background: rgb(39, 38, 53);
  border: 1px solid #f5f5f5;
  color: #fff;
  border-radius: 20px;
}
.project .card .links a:hover {
  border: 1px solid blueviolet;
  transition: 0.2s ease-in-out;
  opacity: 0.6;
}
.project .card .banner img {
  width: 100%;
  height: 200px;
}
@media only screen and (max-width: 900px) {
  .project .card .banner img {
    height: 100%;
  }
}
.contactus {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  padding-bottom: 2%;
  padding-top: 5%;
}
.contactus h3 {
  font-family: "Cinzel";
  font-weight: bold;
  padding-bottom: 1%;
}
.contactus .myLogo {
  width: 100%;
}
.contactus .quote {
  color: rgb(39, 38, 53);
  align-items: center;
  margin: 20px 0px 20px 0px;
  font-family: "Dancing Script";
  font-size: 28px;
  font-weight: bold;
}
.contactus .socialmedias {
  display: flexbox;
  color: rgb(39, 38, 53);
  font-size: 32px;
}
.contactus .socialmedias i {
  margin: 0px 10px 10px 0px;
  border-radius: 50%;
  border: 1px solid rgb(67, 65, 88);
  padding: 10px;
  transition: 0.6s ease;
}
.contactus .socialmedias i:hover {
  background-color: rgb(39, 38, 53);
  color: #fff;
}
.contactus .socialmedias a {
  color: #272635;
}
.copyright {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 50px;
  color: rgb(39, 38, 53);
  font-family: Consolas;
}
.copyright i {
  color: rgb(39, 38, 53);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: rgb(39, 38, 53);
}
.err {
  color: whitesmoke;
  text-align: center;
  font-size: 1.2em;
}
.experience {
  color: whitesmoke;
  background-color: rgb(39, 38, 53);
}
.experience .heading {
  padding-top: 5%;
}
.experience .heading h3 {
  font-family: "Cinzel";
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.experience .timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.experience .timeline .timeline-illustration {
  width: 30%;
}
.experience .timeline .timeline-illustration img {
  width: 100%;
  height: 100%;
}
.experience .timeline .timeline-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .experience .timeline .timeline-illustration {
    width: 100%;
  }
}
